 <!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="grapp-graph-epoch-series.html">
<link rel="stylesheet" href="../lib/epoch/epoch.min.css">

 <dom-module id="grapp-graph-epoch">

  <template>

    <div class$=[[_epochThemeClass(theme)]]">
      <div id="graph" class$="[[_epochGraphClass(category)]]"></div>
    </div>

  </template>

  <script src="../lib/d3/d3.min.js"></script>
  <script src="../lib/epoch/epoch.min.js"></script>

  <!-- build:script inline grapp-graph-epoch -->
  <script src="grapp-graph-epoch.js"></script>
  <!-- /build -->

</dom-module>
