 <!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link href="../lib/polymer/polymer.html" rel="import">
<link href="grapp-graph-epoch-series.html" rel="import">

<dom-module id="grapp-graph-epoch">

  <link rel="stylesheet" href="../lib/epoch/epoch.min.css">

  <template>

    <div class$=[[_epochThemeClass(theme)]]">
      <div id="graph" class$="[[_epochGraphClass(category)]]"></div>
    </div>

  </template>

  <script src="../lib/d3/d3.min.js"></script>
  <script src="../lib/epoch/epoch.min.js"></script>

  <!-- build:script inline dist_epoch -->
  <script src="grapp-graph-epoch.js"></script>
  <!-- /build -->

</dom-module>
